.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
}
.popup-inner {
    text-align: center;
    position: absolute;
    left: 40%;
    right: 40%;
    top: 40%;
    bottom: 45%;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background: white;
    min-width: 300px;
}

input {
    margin-bottom: 10px;
    width: 60%;
}

.wrapper {
    width: 100%;
    text-align: center;
}

button {
    align-content: center;
    width: 60%;
    cursor: pointer;
}

.upper-button > button {
    width: 0;
    height: 0;
    right: 25px;
    top: 10px;
    position: absolute;
    background-color: transparent;
    border: none;
    font-size: 1.5em;
}