@import "variables";
@import "menu";
@import "misc";

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: Mulish, sans-serif;
}

html, body, #app, #root {
  padding: 0;
  margin: 0;
  height: 100%;
  background: $pageBg;
  display: flex;
  flex-direction: column;
}

:root {
  --main-color: #495c8f;
}

* {
  box-sizing: inherit;
  font-family: Roboto, sans-serif;
  font-family: Mulish, sans-serif;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

.app-loader {
  height: 100vh;
  margin: 0 !important
}

.layout {
  display: flex;
  height: 100%;
  max-height: 100vh;

  .main-view {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
    background: $pageBg;
    padding-left: $menuWidth;
    //padding-top: $headerHeight;
    transition: all 250ms ease-in-out;
    overflow: auto;
  }

  .page {
    display: flex;
    flex-direction: column;
    padding: 10px 22px;
    width: 100%;
    flex: 1;
    max-height: 100%;
  }

  &.menu-expanded {

    .menu {
      width: $menuExpandedWidth;
    }

    .header {
      left: $menuExpandedWidth;
    }

    .main-view {
      padding-left: $menuExpandedWidth;
    }
  }
}

.map-wrapper {
  position: relative;
}

.map-legend {
  bottom: 25px;
  width: 200px;
  height: 100px;
  position: absolute;
  z-index: 2;
  overflow-y: scroll;
  overflow-x: hidden;
  background: aliceblue;
}

#legend-list li {
  list-style: none;
  margin-left: -1.3em;
  padding: 2px;
}

#legend-list li:before {
  content: " ";
  vertical-align: middle;
  width: 10px;
  height: 10px;
  margin: 3px;
  float: left;
}

#legend-list #first-list-item:before {
  background-image: url(../icons/blue-icon.png);
  background-size: cover;
}
#legend-list #third-list-item:before {

  background-image: url(../icons/red-icon.png);
  background-size: cover;
}

#legend-list #second-list-item:before {
  background-image: url(../icons/yellow-icon.png);
  background-size: cover;
}
li{
  color: #524c4c;
  padding: 2px;
  border-bottom-style: ridge;
}