@import "variables";
@import "menu";

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: Roboto, sans-serif;
}

html, body, #app {
    padding: 0;
    margin: 0;
    height: 100%;
    background: $pageBg;
}

* {
    box-sizing: inherit;
    font-family: Roboto, sans-serif;

    &:before,
    &:after {
        box-sizing: inherit;
    }
}

.layout {
    display: flex;
    height: 100%;
    max-height: 100vh;

    .main-view {
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: flex-start;
        background: $pageBg;
        padding-left: $menuWidth;
        //padding-top: $headerHeight;
        transition: all 250ms ease-in-out;
    }

    .page {
        display: flex;
        flex-direction: column;
        padding: 10px 22px;
        width: 100%;
        flex: 1;
        max-height: 100%;
    }

    &.menu-expanded {

        .menu {
            width: $menuExpandedWidth;
        }

        .header {
            left: $menuExpandedWidth;
        }

        .main-view {
            padding-left: $menuExpandedWidth;
        }
    }
}
.card {
    border-radius: 10px;
    height: 200px;
    box-shadow: 0 2px 5px #ccc;
    text-align: left;
    width: 30%;
    margin: 20px 0 0 0
}
.card .card-img {
    float: left;
    width: 50%
    
}
.card .card-img img {
    width: 70%;
    margin: 30px 0px 0px 20px
}

.card .card-info h3,p{
    margin: 0 0 20px 0
}
.card .card-info {
    margin: 30px 0 0 0
}