.admin-users-table {

    .actions {
        margin-right: 8px;

        svg {
            cursor: pointer;
        }

        .edit-btn {
            margin-left: 10px;
            opacity: 0.8;
            color: var(--main-color);

            &:hover {
                opacity: 1;
            }
        }
    }
}

