
.custom-table-container {
    min-width: 650px;

    .custom-table {

        .header-row {

            .header-row-cell {
                background-color: #495c8f;
                color: white;
                font-weight: 600;
                padding: 10px 15px;

                .cell-content {
                    display: flex;
                    align-items: center;

                    &.right {
                        justify-content: flex-end;
                    }
                }
            }
        }

        .sort-icon {
            font-size: 26px;
        }
    }
}