
.custom-table-container {
    min-width: 650px;

    .filter-btn {
        float: right;
        margin: 10px;
    }

    .custom-table {

        .header-row {

            .header-row-cell {
                background-color: #404040;
                color: white;
                font-weight: 600;
                padding: 5px 20px;

                .cell-content {
                    display: flex;
                    align-items: center;

                    &.right {
                        justify-content: flex-end;
                    }
                }
            }
        }
    }
}