.dashboard {
  display: flex;
}

.chartContainer {
  display: flex;
}

.machineName {
  text-align: center;
}

.row {
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4 {
  color: #353535;
}

.machine-cards {
  width: 40%;
}

.chart {
  width: 100%;
  margin: 7%;
}

.page-devices {
  margin: 20px;
}

.scrollable {
  overflow: auto;
  padding: 5%;
  flex-basis: 0;
  flex-grow: 1;
}

.no-active-machines {
  text-align: center;
  color: #737373;
  font-size: 20px;
  font-weight: 400;
}

#fm {
  width: 22px;
  height: 30px;
}

#ss {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.page {
  overflow-y: scroll;
}

#card-buttons {
  padding: 5px;
  margin-left: auto;
  margin-top: auto;
  display: flex;
}

.icon {
  width: 24px;
  height: 24px;
}

.googleMapMonitors {
  margin-top: 5vw;
  bottom: 30px;
  width: 100%;
  box-shadow: 0 10px 20px #ccc;
  border-radius: 25px;
}
