.all-devices {
    display: flex;
    flex-direction: column;
    flex: 1;

    .device-table {
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: flex-end;

        .custom-table-container {
            flex-basis: 0;
            flex-grow: 1;
            overflow: auto;
        }
    }
}