.example-warper {
    width: 100%;
    padding: 20px 5%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 1px #cfcece dashed;
}


.forma {
    padding: 3px;
    min-width: 300px;
    min-height: 135px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

.button1,button2 {
    size: fit-content;
    display: inline;
}

.button1{
    float: left;
}

.button2 {
    float: right;
}
  
  .button:hover,
  .button.hover {
    border-color: #2980b9;
  }
  /*
  card 
  */
  .card {
    font-size: 12px;
  }
  .card > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 14px;
    text-align: center;
    margin: 90px;
    padding: 50px;
  }
  
  .modal {
    font-size: 12px;
    background-color: lightgray;
    border: 1px solid gray;
    padding: 10px;
  }
  .modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }
  .modal > .content {
    width: 100%;
    padding: 10px 5px;
  }
  .modal > .actions {
    margin: auto;
  }
  .modal > .actions {
    width: 100%;
    padding: 10px 5px;
    text-align: center;
  }
  .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }
  
  .example-warper-start {
    width: 100%;
    padding: 20px 5%;
    display: flex;
    flex-wrap: wrap;
    border: 1px #cfcece dashed;
  }
  
  .menu {
    width: 200px;
    display: flex;
    flex-direction: column;
    background: #ffffff;
  }
  .menu-item {
    cursor: pointer;
    padding: 5px;
    height: 28px;
    border-top: 1px solid rgb(187, 187, 187);
  }
  .menu-item:hover {
    color: #2980b9;
  }
  