.card {
	border-radius: 10px;
	box-shadow: 0 2px 5px #ccc;
	height: 240px;
	margin-bottom: 10px;
	cursor: pointer;
}

.card:hover {
	background-color: #ffffff;
}
.conf pre{
	font-family: Consolas, Courier;
	margin-left: 5px
	}
.conf h3{
	margin-left: 5px
}
.img-info {
	display: flex;
	height: 140px;
	text-align: left;
	width: 100%;
}

.card-actions {
	height: 40px;
	border-radius: 10px;
}

.card-actions button {
	border-radius: 10px;
	background-color: transparent;
	box-shadow: 0 2px 5px #ccc;
	width: 95%;
	height: 100%;
	margin: 0 0 0 2.5%;
	border: #ccc;
	font-size: 14px;
	cursor: pointer;
}

.card-actions button:hover {
	background-color: #E53734;
	color: white;
	font-weight: 600;
}

.card-img {
	padding: 5%;
	width: 30%;
	height: 100%;
}

.card-img img {
	height: 100%;
}

.card-info {
	padding: 5% 0% 5% 5%;
	width: 70%;
}

.card-info h3 {
	margin: 3px;
}

.card-info p {
	font-family: "Roboto", sans-serif;
	padding: 5px;
}