.devices {
    overflow: auto;

    .groups-list {
        padding: 10px 30px 10px 10px;
    }

    .top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #495c8f;
    }

    h1 {
        color: #495c8f;
    }

    .search {
        width: 25%;
        margin-right: 10px;
        margin-top: 10px;
        border-radius: 12px;
        -webkit-transition: 1s;
        transition: 1s;

        .MuiFormLabel-root.Mui-focused {

        }
    }


    .group {

        .tab {
            cursor: pointer;
        }

        .custom-table-container {
            margin-left: 20px;
        }
    }

}


