.table-wrapper {
  margin: 15px;
  width: 1000px;
  height: 400px;
  overflow-y: scroll;
  border-bottom: 2px solid black;

  table {
    width: 100%;
    border-collapse: collapse;
    border-radius:6px;
    -moz-border-radius:6px;
    color: #5b77bd;;
  }

  tr:hover:not(tr:first-of-type) {
    background-color: #ebebeb;
  }

  th {
    font-size: 18px;
    height: 50px;
    text-transform: uppercase;
  }

  td {
    height: 50px;
  }

  th {
    border-bottom: 2px solid black;
  }

  .file-name,
  .file-rename,
  .file-delete,
  .file-copy,
  .file-move {
    transition: 0.2s ease-in-out;
    cursor: pointer;
  }

  .file-name {
    width: 70%;
  }

  .file-manipulation {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }

  .file-delete:hover {
    transition: 0.2s ease-in-out;
    color: #d21d1d;
  }

  .file-rename:hover {
    transition: 0.2s ease-in-out;
    color: #0040ff;
  }

  .id {
    width: 5%;
  }

  .header-row {
    background: #5b77bd;
    color: white;
  }

  .center-data {
    text-align: center;
  }

  .fix-name {
    padding-left: 8px;
    vertical-align: middle;
  }

  .file-icon {
    vertical-align: middle;
    padding-right: 3px;
  }

  .date-style {
    color: #a7aabd;
    width: 27%;
  }

  .center-vertical {
    vertical-align: middle;
  }

  .sort-arrow:hover {
    transition: 0.3s ease-in-out;
    background-color: #93abf6;
    border-radius: 100%;
  }

  .file-name-div {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 550px;
  }

  .file-date-added {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 218px;
  }

  .manipulation {
    width: 210px;
  }

  .file-name-offset {
    padding-left: 8px;
  }

  .file-manipulation-wrapper {
    display: flex;
    justify-content: center;
  }

  .file-checkbox {
    margin-right: 0px;
  }
}

.top-button {
  border: 0;
  padding: 10px;
  margin-left: 15px;
  margin-top: 5px;
  background:#5b77bd;
  color: whitesmoke;
  cursor: pointer;
}

.disable-button {
  pointer-events: none;
  background: #A7AABD;
}

.swalItem{
  margin: 6px 0;
}

.swal-text{
  max-height: 16em;
  overflow-y: scroll;
  width: 100%;
  text-align: left;
}



