.manage-device-form {
  .MuiFormControl-root, .MuiButton-root {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5px;
    margin-bottom: 15px;
  }
  .MuiTextField-root {
    width: 30%;
  }
  .MuiButton-root {
    width: 8%;
    text-transform: none;
    font-size: 80%;
  }
}