.manage-device-form {
  .MuiFormControl-root, .MuiButton-root{
    display: flex;
    flex-wrap: wrap;
    margin: 3px;
  }
  .MuiTextField-root {
    width: 30%;
  }
  .MuiButton-root {
    width: 20%;
  }
}