.map-wrapper {
  position: relative;
}

.map-legend {
  bottom: 25px;
  width: 100px;
  height: auto;
  position: absolute;
  z-index: 2;
  overflow-y: auto;
  overflow-x: hidden;
  background: white;
  margin: 0 0 220px 10px;
  border-radius: 3px;
  padding: 0;
}

#legend-list {
  padding-left: 0px;
  margin-left: 5px;
}
#legend-list li {
  list-style: none;
  margin-left: 0;
  padding: 2px 2px 2px 10px;
}

#legend-list li:before {
  content: " ";
  vertical-align: middle;
  width: 10px;
  height: 10px;
  margin: 0px;
  float: left;
  margin-right: 5px;
}
.legend-bg p {
  font-size: 13px;
  color: #524c4c;
  text-align: center;
  font-weight: bold;
}
#legend-list #first-list-item:before {
  background-image: url("http://maps.google.com/mapfiles/ms/micons/green-dot.png");
  background-size: cover;
}
#legend-list #third-list-item:before {
  background-image: url("http://maps.google.com/mapfiles/ms/micons/yellow-dot.png");
  background-size: cover;
}

#legend-list #second-list-item:before {
  background-image: url("http://maps.google.com/mapfiles/ms/micons/ltblue-dot.png");
  background-size: cover;
}
#legend-list #fourth-list-item:before {
  background-image: url("http://maps.google.com/mapfiles/ms/micons/red-dot.png");
  background-size: cover;
}
li {
  color: #524c4c;
  font-size: 13px;
  padding: 2px;
}
