label {
    color: black;
    margin:auto;
}

.formDiv {
    margin: auto;
    width: 100%;
}

.form {
    max-width: 320px;
    margin: auto;
    padding: 20px;
    background: #fafafa;
    border: 1px solid #ccc;
}

.form h1 {
    margin: 0 0 20px 0;
}

.form input {
    box-sizing: border-box;
    width: 100%;
    margin: 0 0 0 0;
    padding: 10px;
    -webkit-box-sizing: border-box;
    font-size: medium;
}


.backToProfile:hover {background: #eee;}

.backToProfile
{
    border: 0;
    border-radius: 10%;
    background-color: #fafafa;
    font-size:80%;
    max-width: 320px;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;

}

.Nav_link {
    font-size: 13px;
}

html,
body {
    font-family: arial, sans-serif;
}

.valid{
    color: green;
}
.invalid{
    color: red;
}
.formChange {
    max-width: 320px;
    margin: auto;
    padding: 20px;
    background: #fafafa;
    border: 1px solid #ccc;
}
.formChange input {
    box-sizing: border-box;
    width: 100%;
    margin: 0 0 0 0;
    padding: 10px;
    -webkit-box-sizing: border-box;
    font-size: medium;
}
.formChange p{
    height: min-content;
    font-size: small;
    padding: 0;
    margin: 1% 0 5% 0;
}
.formChange h1 {
    margin: 0 0 20px 0;
}