label {
    color: black;
    margin:auto;
}

.formDiv {
    margin: auto;
    width: 100%;
}

.form {
    max-width: 320px;
    margin: auto;
    padding: 20px;
    background: #fafafa;
    border: 1px solid #ccc;
}

.form h1 {
    margin: 0 0 20px 0;
}

.form input {
    box-sizing: border-box;
    width: 100%;
    margin: 0 0 20px 0;
    padding: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.button {
    border: 0;
    padding: 15px;
    background: #5b77bd;
    color: #fff;
    cursor: pointer;
}



.Nav_link {
    font-size: 13px;
}

html,
body {
    font-family: arial, sans-serif;
}
