#weeklyInputDay, #selectOften, #weeklyInputTime, #selectDay, #selectMonth, #selectDayY, #noneInput, .timeInput{
    height: 30px;
    margin: 10px 10px 20px 10px;
    width: 100px;
}

#reportTimming{
    margin-top: 20px;
}
