.reportingWrapper {
    padding-left: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.createReport , .searchReport{
    border: none;
    background: rgba(64, 64, 64, 0.9);
    font-weight: 100;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 6px;
    display: inline-block;
    align-self: flex-end;
    transition: all 0.3s ease 0s;
    color: #fff;
}

.filter{
    display: inline-block;
    align-self: flex-end;
    padding-right: 20px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.reportTable{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.reportingWrapper{
    .custom-table-container .filter-btn {
    display: none;
    }
}
