.device-table {

    .actions {
        margin-right:8px;
        svg {
            cursor: pointer;
        }

        .edit-btn {
            color:#495c8f;
        }
    }

    .filter-btn {
        margin: 10px;
        float: right;
    }
}

