.device-table {

    .actions {
        margin-right: 8px;

        svg {
            cursor: pointer;
        }

        .connect-btn, .edit-btn {
            opacity: 0.8;
            color: var(--main-color);

            &:hover {
                opacity: 1;
            }
        }


        .edit-btn {
            margin-left: 10px;
        }
    }

    .filter-btn {
        margin: 10px;
        float: right;
    }
}

.path {
    color: #666;
    font-size: 95%;
}

